<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
    <%- include('styles') %>
    <script defer src="/js/script.js"></script>
    <title>LBRY Viewer</title>
</head>
<body>
    <%- include('header') %>
    <% if (data.result) { %>
        <% if (!data.result.error) { %>
            <div class="card">
                <%- include('stream', {result: data.result}) %>
            </div>
        <% } else { %>
            <p style="text-align: center; padding-top: 20px">Claim does not exists</p>
            <%- include('home') %>
        <% } %>
    <% } else if (data.message) { %>
        <%= JSON.stringify(data) %>
        <%- include('home') %>
    <% } else { %>
        <%- include('home') %>
    <% } %>
</body>
</html>